<div id="comment-<%= comment.id %>">
  <div class="card bg-base-200 mx-auto max-w-2xl shadow-xl m-10">
    <div class="card-body">
      <h3 class="card-title"><%= comment.user.name %></h3>
      <p><%= simple_format(comment.body) %></p>
    </div>
  </div>
  <% if current_user.own?(comment) %>
  <td class="action">
    <ul class="list-inline justify-content-center" style="float: right;">
      <li class="list-inline-item">
        <%= link_to "#", class: "edit-comment-link" do %>
        <i class="bi bi-pencil-fill"></i>
        <% end %>
      </li>
      <li class="list-inline-item">
        <%= link_to "#", class: "delete-comment-link" do %>
        <i class="bi bi-trash-fill"></i>
        <% end %>
      </li>
    </ul>
  </td>
  <% end %>
</div>