<!DOCTYPE html>
<html>

<head>
  <title>バイトやらかしにっき</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  <!-- meta_tag -->
  <%= display_meta_tags(default_meta_tags) %>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-T8W21ZBN7M"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-T8W21ZBN7M');
  </script>

  <%= favicon_link_tag('favicon.ico') %>
</head>

<body>
  <div data-controller="loading">
    <div data-loading-target="spinner" class="fixed inset-0 z-50 flex flex-col items-center justify-center bg-black bg-opacity-40 hidden">
      <div class="h-[150px] w-[150px] flex items-center justify-center">
        <span class="loading loading-spinner text-default w-full h-full"></span>
      </div>
      <div class="mt-4 text-white text-lg font-semibold">生成中...</div>
    </div>
    <% if logged_in? %>
    <%= render 'shared/header' %>
    <% else %>
    <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </div>
</body>

</html>